@keyframes glowborder {
    0% {
        box-shadow: 0 0 20px darkblue, 0 0 20px darkblue, 0 0 20px darkblue;
    }
}

body {
    justify-content: center;
    align-items: center;
    border: .2vw solid #1a5582;
    background-color: black;
    color: white;
    padding-left: 1vw;
    border-radius: .9vw;
    animation: glowborder 5s ease-in-out infinite;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5vw;
    text-decoration: underline;
}

.name {
    color: #1a5582;
}

.rotate {
    transform: translateX(3.5vw);
    width: 90vw;
    padding-left: 1vw;
    border: .2vw solid #1a5582;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    line-height: 2vw;
    font-weight: bold;
}

.rotate:hover {
    transition: all .9s ease-in-out;
    border-radius: .9vw;
    animation: glowborder 5s ease-in-out infinite;
}

h2 {
    font-family: monospace;
    font-size: 1.75vw;
}

h2:hover {
    text-decoration: underline;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35vw;
    line-height: 1.75vw;
    padding-left: 10vw;
}

img {
    transform: translateX(10vw);
    height: 15vw;
    width: 35vw;
}

img:hover {
    border-radius: .9vw;
    transition: all .9s ease-in-out;
    animation:glowborder 5s ease-in-out infinite;
}

a {
    text-decoration: none;
    color: white;
}

.link {
    text-decoration: none;
    font-size: 1.2vw;
    color: #1a5582;
}

.link:hover {
    text-decoration: underline;
    color: darkblue;
}