@keyframes glowborder {
    0% {
        box-shadow: 0 0 20px darkblue, 0 0 20px darkblue, 0 0 20px darkblue;
    }
}

body {
    justify-content: center;
    align-items: center;
    height: 46.5vw;
    border: .2vw solid #1a5582;
    background-color: black;
    color: white;
    padding-left: 1vw;
    border-radius: .9vw;
    animation: glowborder 5s ease-in-out infinite;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5vw;
    text-decoration: underline;
}

button {
    background-color: black;
    transform: translateX(12.5vw);
    color: white;
    border: .2vw solid #1a5582;
    height: 12.5vw;
    width: 25vw;
    line-height: 5px;
}

button:hover {
    transition: all .9s ease-in-out;
    border-radius: .9vw;
    animation: glowborder 5s ease-in-out infinite;
}

h2 {
    font-family: monospace;
    font-size: 1.75vw;
}

h2:hover {
    text-decoration: underline;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35vw;
    text-align: left;
    line-height: 1.75vw;
}