@keyframes glowborder {
  0% {
      box-shadow: 0 0 20px darkblue, 0 0 20px darkblue, 0 0 20px darkblue;
  }
}

body {
  justify-content: center;
  align-items: center;
  height: 46.5vw;
  border: .2vw solid #1a5582;
  background-color: black;
  color: white;
  padding-left: 1vw;
  border-radius: .9vw;
  animation: glowborder 5s ease-in-out infinite;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 2.5vw;
  text-decoration: underline;
}

.tree {
  text-align: center;
  margin-top : 20px;
}

#tree {
  transform: translateY(-32.5vw);
    
}

.box {
  transform: translateX(25vw);
  width: 50vw;
  height: 37.5vw;
  border: .2vw solid #1a5582;
  line-height: 5px;
}

.box:hover {
  transition: all .9s ease-in-out;
  border-radius: .9vw;
  animation: glowborder 5s ease-in-out infinite;
}

.node {
  z-index: 1;
  position: absolute;
  width: 1.75vw;
  height: 1.75vw;
  background-color: #1a5582;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7vw;
  font-size: 1vw;
}


.line {
  position: absolute;
  height: .1vw;
  background-color: #1a5582;
  transform-origin: top left;
}

button {
  padding :.7vw 1vw;
  font-size: 1vw;
  background-color: #1a5582;
  color: white;
  border: none;
  border-radius: 50vw;
}

button:hover {
  background-color: darkblue;
  animation: glowborder 5s ease-in-out infinite;
}

input {
  padding: .7vw;
  font-size: 1vw;
  margin-top: 1.5vw;
  border-radius: 1.25vw;
}